.deploying__Container {
	background-image: url("https://giphy.com/gifs/code-security-binary-7FrOU9tPbgAZtxV5mb");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}
