.deployerOR__AttacherItem {
	padding: 15px;
	color: #fff;
	border-radius: 5px;
	background-image: linear-gradient(
			to right,
			rgba(34, 34, 34, 0.7),
			rgba(34, 34, 34, 0.7)
		),
		url("../images/pexels-worldspectrum-844124.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.deployer button,
.attacher button {
	padding: 10px;
	color: white;
	font-size: 22px;
	border-radius: 5px;
	margin: 20px 0px;
}
.deployer button {
	background-color: #0275d8;
}
.attacher button {
	background-color: #5cb85c;
}
