.App {
	text-align: center;
	background-image: linear-gradient(
			to right,
			rgba(39, 39, 39, 0.4),
			rgba(39, 39, 39, 0.4)
		),
		url("./images/spaceship-g93c0fe548_1280.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	color: #fff;
	padding: 20px;
}
button,
button:focus,
button:active,
input:active,
input,
input:hover,
input:focus {
	background: none;
	outline: none;
	border: none;
}
